auto_mix_prep==0.2.0
fastapi==0.109.0
numpy==1.26.3
omegaconf==2.3.0
Pillow==10.2.0
torch==2.1.2
uvicorn>=0.15.0
pytorch_lightning==2.1.3
transformers >= 4.36.2
prometheus-fastapi-instrumentator==1.1.1
python-multipart==0.0.6